<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="FolderPath" value="" />
		<add key="ConnectionString" value="" />
		<add key="ContainerName" value="" />
		<add key="LogFilePath" value="" />
		<add key="ServicePath" value="" />
	</appSettings>
</configuration>